<!DOCTYPE html>
<html>
    <head>
        <title>Manage Website | Packfire Framework for PHP</title>
        {{>Header}}
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        {{&menu}}
                    </div>
                </div>
            </div>
            <div id="pnlMini" class="row">
                <div id="pnlIntro" class="span8">
                    <div>
                        <h1>Admin Panel</h1>
                        <p>For administering the website.</p>
                    </div>
                </div>
                <div id="pnlDownload" class="span4">
                    <div>
                        <p>If you have reached this place accidentally,</p>
                        <a href="{{rootUrl}}" class="btn btn-small btn-inverse"><i class="icon-flag icon-white"></i> Return to Packfire</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="content-box spaced-content" style="padding-left:200px;">
                        <form action="" method="post" class="">
                            {{#failMessage}}
                                <div class="alert alert-error">
                                    {{failMessage}}
                                </div>
                            {{/failMessage}}
                            <div class="control-group">
                                <label class="control-label" for="txtUsername">Username</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="txtUsername" name="username">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtPassword">Password</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="txtPassword" name="password">
                                </div>
                            </div>
                            <input type="submit" value="Sign In" class="btn btn-success btn-large" /> <a href="{{rootUrl}}" class="btn btn-large">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
            {{>Footer}}
        </div>
    </body>
</html>
