<meta charset="utf-8">
<base href="{{rootUrl}}" target="_top" />
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="assets/styles/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />