<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="{{rootUrl}}/" target="_top" />
        <title>Packfire Framework for PHP</title>
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        
        <meta content="Packfire Framework for PHP is the clean, simple and powerful object oriented PHP Framework created for API, RESTful, service and web development. Write PHP with ease using Packfire Framework!" name="description" >
        <meta content="packfire framework php code development object oriented library api restful web service template pack fire camp source open source code" name="keywords" >
        <meta content="all" name="robots">
        
        <link rel="canonical" href="http://mauris.sg/packfire/" />
        <!-- open graph -->
        <meta property="og:url" content="http://mauris.sg/packfire/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Packfire Framework for PHP">
        <meta property="og:image" content="http://static.tumblr.com/fb2kaoh/VHwm29szr/packfire.biglogo.light.png">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="250">
        <meta property="og:description" content="Packfire Framework for PHP is the clean, simple and powerful object oriented PHP Framework created for API, RESTful, service and web development. Write PHP with ease using Packfire Framework!">
        <!-- open graph -->
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        {{&menu}}
                    </div>
                </div>
            </div>
            <div id="pnlJumbo" class="row">
                <div>
                    <div id="pnlIntro" class="span8">
                        <div>
                            <h1>Packfire Framework for PHP</h1>
                            <p>Be surprised at how fast you can build a web application with a pack of fire.</p>
                        </div>
                    </div>
                    <div id="pnlDownload" class="span4">
                        <div>
                            <p>The OOP Framework for PHP. </p>
                            <p>Be amazed. Start now.</p>
                            <div>
                            <a href="downloads" class="btn btn-large btn-success"><i class="icon-download icon-white"></i> Download</a>
                            <a href="http://github.com/packfire" target="_blank" class="btn btn-large btn-primary"><i class="icon-flag icon-white"></i> View on Github</a></div>
                        </div>
                    </div>
                    <div class="span12">
                        <div id="home-social-bar">
                        <ul>
                            <li>
                                <iframe src="http://ghbtns.com/github-btn.html?user=packfire&amp;repo=framework&amp;type=watch&amp;count=true"
    allowtransparency="true" frameborder="0" scrolling="0" height="20" width="80"></iframe>
                            </li>
                            <li>
                                <iframe src="http://ghbtns.com/github-btn.html?user=packfire&amp;repo=framework&amp;type=fork&amp;count=true"
    allowtransparency="true" frameborder="0" scrolling="0" height="20" width="80"></iframe>
                            </li>
                            <li>
                                <div class="fb-like" data-href="http://facebook.com/packfire" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-colorscheme="light" data-font="lucida grande"></div>
                            </li>
                            <li>
                                <a href="https://twitter.com/packfire" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true">Follow @packfire</a>
                            </li>
                            <li>
                                <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="float:left;display:block;height:20px;width:81px;background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;"></a>
                            </li>
                            <li>
                                <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/106494570352998281538"></div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pnlFeatures" class="row">
                {{#features}}
                <div class="span4">
                    <div>
                        <h3>{{title}}</h3>
                        <p>{{text}}</p>
                    </div>
                </div>
                {{/features}}
            </div>
            <footer>
                <div class="row">
                    <div class="span12">
                        <div>
                        <p>&copy; Copyright 2012 <a href="http://twitter.com/_mauris" target="_blank">Sam-Mauris Yong</a>, All Rights Reserved. This website's source code is <a href="http://github.com/packfire/website" target="_blank">hosted on Github</a>.</p>
                        <p>Packfire Framework and this website are both released open source under the New BSD License.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        <script type="text/javascript">
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=195404063918507";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        
            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
        
        
        <script type="text/javascript" src="assets/scripts/jquery.js"></script>
        <script type="text/javascript" src="assets/scripts/bootstrap.js"></script>
        <script type="text/javascript">
            (function($){
                $(function(){
                    window.setTimeout(function(){
                        $("#pnlJumbo #pnlIntro").css('border-radius', '5px 0 0 0');
                        $("#pnlJumbo #pnlDownload").css('border-radius', '0 5px 0 0');
                        $("#home-social-bar").fadeIn(); 
                    }, 800);
                });
            })(jQuery);
        </script>
    </body>
</html>
