<!DOCTYPE html>
<html>
    <head>
        <title>Packfire Framework for PHP - Blog Updates</title>
        {{>Header}}
        <style type="text/css">
            #pnlPosts .content-box{
                height:240px;
                cursor:pointer;
                overflow:hidden;
            }
            #pnlPosts .content-box h3{
                padding 0 0 20px;
            }
            #pnlPosts>div{
                margin-bottom: 20px;
            }
            #pnlPosts, #pnlProgress{
                display:none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        {{&menu}}
                    </div>
                </div>
            </div>
            <div id="pnlMini" class="row">
                <div id="pnlIntro" class="span8">
                    <div>
                        <h1>Blog Updates</h1>
                        <p>Get updated on the insider news to the object-oriented framework for PHP.</p>
                    </div>
                </div>
                <div id="pnlDownload" class="span4">
                    <div>
                        <p>Let the code work for you.</p>
                        <a href="downloads" target="_blank" class="btn btn-small btn-inverse"><i class="icon-download icon-white"></i> Downloads</a>
                        <a href="http://github.com/packfire" target="_blank" class="btn btn-small"><i class="icon-flag"></i> View on Github</a>
                    </div>
                </div>
            </div>
            <div class="row" id="pnlNoScript" style="margin-top:100px;margin-bottom:100px;">
                <div class="span4 offset4 content-box">
                    <div>
                        <span>Oops! Looks like JavaScript is not enabled. Visit <a href="http://packfire.tumblr.com/" target="_blank">our Tumblr</a> directly instead.</span>
                    </div>
                </div>
            </div>
            <div id="pnlProgress" class="row" style="margin-top:100px;margin-bottom:100px;">
                <div class="span4 offset4 content-box">
                    <div>
                        <div>
                            <span>Loading posts from <a href="http://packfire.tumblr.com/" target="_blank">our Tumblr</a> ...</span>
                        </div>
                        <div class="progress progress-success progress-striped active" style="margin: 5px 0">
                            <div class="bar" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="pnlPosts">
                
            </div>
            <footer>
                <div class="row">
                    <div class="span12">
                        <div>
                        <p>&copy; Copyright 2012 <a href="http://twitter.com/_mauris" target="_blank">Sam-Mauris Yong</a>, All Rights Reserved. This website's source code is <a href="http://github.com/packfire/website" target="_blank">hosted on Github</a>.</p>
                        <p>Packfire Framework and this website are both released open source under the New BSD License.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="assets/scripts/jquery.js"></script>
        <script type="text/javascript" src="assets/scripts/bootstrap.js"></script>
        <script type="text/javascript">
            $("#pnlNoScript").hide();
            function bpcb(data){
                var posts = data['response']['posts'];
                $.each(posts, function(key, post){
                    var id = 'tmblrPost' + key;
                    $("#pnlPosts").append('<'+'div data-url="'+post['post_url']+'" class="span4"'+'><'+'div class="content-box spaced-content"><h3'+'>'+post['title']+'<'+'/h3>'+post['body']+'<'+'/div><'+'/div>');
                });
                $("#pnlPosts > div").click(function(){
                   var url = $(this).attr('data-url');
                   if(url){
                    window.location = url;
                    return false;
                   }
                });
                $("#pnlPosts").append('<'+'div class="span12" style="text-align:center"><'+'a class="btn btn-large btn-success"'+' href="http://packfire.tumblr.com/" target="_blank">Read more on Packfire\'s blog</'+'a></'+'div>');
                $("#pnlProgress").fadeOut('fast', function(){$('#pnlPosts').fadeIn('fast');});
            }
            $("#pnlProgress").show();
        </script>
        <script type="text/javascript" src="http://api.tumblr.com/v2/blog/packfire.tumblr.com/posts?api_key=FJjTm1B3QV1SOltOOuwtIpW0ro8nmovdV1rbzkNSQOV9dRzUqw&amp;limit=6&amp;jsonp=bpcb"></script>
    </body>
</html>
