<!DOCTYPE html>
<html>
    <head>
        <title>Packfire Framework for PHP - Screencasts and Tutorials</title>
        <base href="{{rootUrl}}" target="_top" />
        <link rel="shortcut icon" href="favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        {{&menu}}
                    </div>
                </div>
            </div>
            <div id="pnlMini" class="row">
                <div id="pnlIntro" class="span8">
                    <div>
                        <h1>Screencasts</h1>
                        <p>Video guides and tutorials to help you learn development in Packfire.</p>
                    </div>
                </div>
                <div id="pnlDownload" class="span4">
                    <div>
                        <p>Let the code work for you.</p>
                        <a href="downloads" target="_blank" class="btn btn-small btn-inverse"><i class="icon-download icon-white"></i> Downloads</a>
                        <a href="http://github.com/packfire" target="_blank" class="btn btn-small"><i class="icon-flag"></i> View on Github</a>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="assets/scripts/jquery.js"></script>
            <script type="text/javascript" src="assets/scripts/bootstrap.js"></script>
            <div class="row">
                <div class="span12">
                    <div id="player-giants">
                        <div class="player"></div>
                        <a href="#" id="player-giants-close"><i class="icon-chevron-up icon-white"></i> Close</a>
                    </div>
                    <script type="text/javascript">
                        function loadVideo(id, video){
                            (function($){
                                $.getJSON('http://gdata.youtube.com/feeds/api/videos/' + video + '?v=2&alt=json', function(data){
                                    $("#screencast-" + id + " .thumb").css({
                                        backgroundImage: "url('" + data["entry"]["media$group"]["media$thumbnail"][1]["url"] + "')"
                                    }).click(function(){
                                        $("#player-giants .player").html('<iframe width="940" height="529" src="http://www.youtube-nocookie.com/embed/' + video + '?rel=0" frameborder="0"></iframe>');
                                        $("#player-giants").slideDown();
                                        return false;
                                    });
                                });
                                $("#player-giants-close").click(function(){$("#player-giants").slideUp();return false;});
                            })(jQuery);
                        }
                    </script>
                </div>
                {{! 
                    this is a Mustache comment!
                    in the following mustache codes, you can tell
                    the template to show a message when there are no
                    screencasts available.
                }}
                {{^screencasts}}
                <div class="span12 content-box spaced-content">
                    <div>
                        <p><i class="icon-hand-right icon-white"></i> No screencasts currently available. It'd be great if you can check back here later.</p>
                    </div>
                </div>
                {{/screencasts}}
                {{!
                    Progressing Enhancement Strategy. 
                    if JavaScript fails to run, we can let the user click on the video
                    to go YouTube and watch it there
                }}
                {{#screencasts}}
                <div class="span4 content-box">
                    <div class="screencast-box" id="screencast-{{id}}">
                        <h5>{{title}}</h5>
                        <a class="thumb" href="http://youtu.be/{{videoId}}" target="_blank">
                            <i class="icon-play icon-white"></i>
                        </a>
                    </div>
                    <script type="text/javascript">
                        loadVideo('{{id}}', '{{videoId}}');
                    </script>
                </div>
                {{/screencasts}}
            </div>
            <footer>
                <div class="row">
                    <div class="span12">
                        <div>
                        <p>&copy; Copyright 2012 <a href="http://twitter.com/_mauris" target="_blank">Sam-Mauris Yong</a>, All Rights Reserved. This website's source code is <a href="http://github.com/packfire/website" target="_blank">hosted on Github</a>.</p>
                        <p>Packfire Framework and this website are both released open source under the New BSD License.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
