<!DOCTYPE html>
<html>
    <head>
        <title>Packfire Framework for PHP</title>
        <base href="{{rootUrl}}" target="_top" />
        <link rel="shortcut icon" href="favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        {{&menu}}
                    </div>
                </div>
            </div>
            <div id="pnlMini" class="row">
                <div id="pnlIntro" class="span8">
                    <div>
                        <h1>Screencasts</h1>
                        <p>Video guides and tutorials to help you learn development in Packfire.</p>
                    </div>
                </div>
                <div id="pnlDownload" class="span4">
                    <div>
                        <p>Let the code work for you.</p>
                        <a href="http://github.com/packfire" target="_blank" class="btn btn-small btn-primary"><i class="icon-flag icon-white"></i> View on Github</a>
                    </div>
                </div>
            </div>
            <div class="row">{{! 
                    this is a Mustache comment
                    in the following mustache codes, you can tell
                    the template to show a message when there are no
                    screencasts available.
                }}{{^screencasts}}
                <div class="span12 content-box spaced-content">
                    <div>
                        <p><i class="icon-hand-right icon-white"></i> No screencasts currently available. It'd be great if you can check back here later.</p>
                    </div>
                </div>
                {{/screencasts}}{{#screencasts}}<div class="span6 content-box">
                    <div>
                        <h3>{{title}}</h3>
                        <iframe width="440" height="248" src="http://www.youtube-nocookie.com/embed/{{videoId}}?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>{{/screencasts}}
            </div>
            <footer>
                <div class="row">
                    <div class="span12">
                        <div>
                        <p>&copy; Copyright 2012 <a href="http://twitter.com/_mauris" target="_blank">Sam-Mauris Yong</a>, All Rights Reserved. This website's source code is <a href="http://github.com/packfire/website" target="_blank">hosted on Github</a>.</p>
                        <p>Packfire Framework and this website are both released open source under the New BSD License.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="assets/scripts/jquery.js"></script>
        <script type="text/javascript" src="assets/scripts/bootstrap.js"></script>
    </body>
</html>
