<!DOCTYPE html>
<html>
    <head>
        <title>Packfire Framework for PHP</title>
        <base href="{{rootUrl}}" target="_top" />
        <link rel="shortcut icon" href="favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/styles/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="assets/styles/global.css" />
    </head>
    <body>
        <div class="container">
            <div id="navMain" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="{{rootUrl}}">
                            <img src="assets/images/packfire.smalllogo.dark.png" />
                        </a>
                        <ul class="nav">
                            {{&menu}}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pnlMini" class="row">
                <div id="pnlIntro" class="span8">
                    <div>
                        <h1>Get Started</h1>
                        <p>It's easy to get Packfire working right away.</p>
                    </div>
                </div>
                <div id="pnlDownload" class="span4">
                    <div>
                        <p>Let the code work for you.</p>
                        <a href="http://github.com/packfire" target="_blank" class="btn btn-small btn-primary"><i class="icon-flag icon-white"></i> View on Github</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12 content-box spaced-content">
                    <div>
                        <p>Currently our Get Started Guide is hosted on Github. </p>
                        <a href="https://github.com/packfire/books/blob/master/starter-guide.md" class="btn btn-large btn-success">Get Started <i class="icon-play icon-white"></i></a>
                    </div>
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="span12">
                        <div>
                        <p>&copy; Copyright 2012 <a href="http://twitter.com/_mauris" target="_blank">Sam-Mauris Yong</a>, All Rights Reserved. This website's source code is <a href="http://github.com/packfire/website" target="_blank">hosted on Github</a>.</p>
                        <p>Packfire Framework and this website are both released open source under the New BSD License.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="assets/scripts/jquery.js"></script>
        <script type="text/javascript" src="assets/scripts/bootstrap.js"></script>
    </body>
</html>
