<ul class="nav">
{{#menu}}
    <li{{#active}} class="active"{{/active}}>
        <a href="{{link}}">{{text}}</a>
    </li>
{{/menu}}
    <li>
        <a href="http://packfire.tumblr.com/" target="_blank">Blog</a>
    </li>
</ul>
<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#"
           class="dropdown-toggle"
           data-toggle="dropdown">
            Go Social
            <b class="caret"></b>
        </a>
        <ul id="ddmSocial" class="dropdown-menu">
            <li><div class="fb-like" data-href="http://facebook.com/packfire" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-colorscheme="light" data-font="lucida grande"></div>
        <div id="fb-root"></div>
        <script type="text/javascript">(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=195404063918507";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script></li>
            <li><a href="https://twitter.com/packfire" class="twitter-follow-button" data-show-count="false" data-size="small" data-dnt="true">Follow @packfire</a>
<script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
            <li><div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120" data-href="https://plus.google.com/106494570352998281538/"></div>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script></li>
            <li><iframe allowtransparency="true" src="http://platform.tumblr.com/v1/follow_button.html?button_type=2&amp;tumblelog=packfire&amp;color_scheme=light" frameborder="0" height="25" scrolling="no" width="113"></iframe></li>
        </ul>
    </li>
</ul>